@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Serif+KR&display=swap');
/*font-family: 'Noto Serif KR', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gowun+Dodum&family=Poor+Story&family=Song+Myung&display=swap');
/*
font-family: 'Poor Story', cursive;
font-family: 'Black Han Sans', sans-serif;
font-family: 'Song Myung', serif;
font-family: 'Gowun Dodum', sans-serif;
버튼 컬러:70A9FF, rgb(255, 191, 43)
*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');

/*
font-family: 'Nanum Gothic Coding', monospace;
*/
:root {
  --blue: rgb(0, 119, 255);
  --skyblueL: rgb(174, 209, 255);
  --heart: rgb(255, 38, 0);
  --star: rgb(255, 208, 0);
  --grayL: rgb(245, 245, 245);
  --grayML: rgb(226, 226, 226);
  --grayD: rgb(73, 73, 73);
}

.title-result {
  font-size: 1.3em;
  font-family: 'Gowun Dodum', sans-serif;
}

.small-font {
  font-size: 0.8em;
  font-family: 'Nanum Gothic Coding', monospace;
}

.xsmall-font {
  font-size: 0.6em;
  font-family: 'Nanum Gothic Coding', monospace;
}

.gowun-font {
  font-family: 'Gowun Dodum', sans-serif;
}

.godic-font {
  font-family: 'Nanum Gothic Coding', monospace;
}
