:root {
  --blue: rgb(0, 119, 255);
  --blueD: rgb(0, 87, 187);
  --skyblueL: rgb(174, 209, 255);
  --skyblue: #70A9FF;
  --skyblueD: #418ee4;
  --heart: rgb(255, 38, 0);
  --star: rgb(255, 208, 0);
  --grayL: rgb(245, 245, 245);
  --grayML: rgb(226, 226, 226);
  --grayD: rgb(73, 73, 73);
}

.webtoonImg {
  border-radius: 5px;
  overflow: hidden;
  padding: auto;
  height: 100px;
  width: 110px;
}

.webtoonImg img {
  transition: all .35s linear;
  width: 100%;
  min-height: 100px;
  min-width: 110px;
  height: auto;
}

.webtoonImg-50 {
  border-radius: 10px;
  height: 50px;
  width: 50px;
  border: 1px solid white;
}

.webtoon-result-box {
  border-radius: 10px;
  float: left;
  margin: 10px;
  width: 100px;
  padding: 5px;
  height: 170px;
  cursor: pointer;
  background-color: rgba(174, 209, 255, 0.56);
  backdrop-filter: blur(8px);
  overflow: hidden;
}

.webtoon-result-box:hover .webtoonImg img {
  transform: scale(1.2);
}

.webtoon-result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: start;
}

/*마이페이지 프로필*/
.mypage-profil {
  border: 3px solid var(--skyblueL);
  border-radius: 100%;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

/*좌우반대*/
.reverse {
  transform: scaleX(-1);
}

/*플랫폼 이미지*/
.platform-img {
  width: 30px; 
  height: 30px;
  cursor: pointer;
}

