@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Serif+KR&display=swap');
/*font-family: 'Noto Serif KR', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gowun+Dodum&family=Poor+Story&family=Song+Myung&display=swap');
/*
font-family: 'Poor Story', cursive;
font-family: 'Black Han Sans', sans-serif;
font-family: 'Song Myung', serif;
font-family: 'Gowun Dodum', sans-serif;
버튼 컬러:70A9FF, rgb(255, 191, 43)
*/
@media all and (min-width:320px){ 

   
}

@media all and (min-width:768px){ 

    
}
@media all and (min-width:1024px){ 

    
}

::-webkit-scrollbar {/*스크롤바 전체*/
    background-color: transparent;
}
::-webkit-scrollbar-thumb {/*스크롤 막대*/
    background-color: rgba(209, 209, 209, 0.3);
    border-radius: 10px;
    background-clip: padding-box;
    border: 6px solid transparent;
  }
::-webkit-scrollbar-thumb:hover{
	background-color: rgba(191, 210, 255, 0.8);
	border: 5.5px solid transparent;
	transition: all 1s;
}
body{
	
	/*-webkit-user-select:none; -moz-user-select:none; -ms-user-select:none;*/
}
header {
	position: fixed;
  	top: 0;
 	left: 0;
 	right: 0;
 	max-height:95px;
}
#main-title{
	height:100px;
	background-color:rgba(111, 173, 255, 0.56);
	backdrop-filter: blur(8px);
}
#menuBtn{

	
}
#menuBtn:hover{
	background:rgba(0, 0, 0, 0.1);
}

#main-menu{
	
}

#menu1{
	
}
#menu2{
	
}
#wrap{
	max-width:768px;
}
#main-menu > nav ul {
	list-style: none;
}