@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Serif+KR&display=swap');
/*font-family: 'Noto Serif KR', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gowun+Dodum&family=Poor+Story&family=Song+Myung&display=swap');
/*
font-family: 'Poor Story', cursive;
font-family: 'Black Han Sans', sans-serif;
font-family: 'Song Myung', serif;
font-family: 'Gowun Dodum', sans-serif;
버튼 컬러:70A9FF, rgb(255, 191, 43)
*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
/*
font-family: 'Nanum Gothic Coding', monospace;
*/
:root {
	--blue: rgb(0,119,255);
	--skyblueL: rgb(174, 209, 255);
	--heart: rgb(255, 38, 0);
	--star: rgb(255, 208, 0);
	--grayL: rgb(245, 245, 245);
}

@media all and (min-width:320px){ 
	.webtoon-result-box {
		float: left;
		margin: 10px;
		width: 120px;
		height: 150px;
		padding: 10px;
		cursor: pointer;
	}

	.webtoonImg img {
		width: 70px;
		height: 70px;
	}
}

@media all and (min-width:768px){ 

    
}

@media all and (min-width:1024px){ 

    
}

::-webkit-scrollbar {/*스크롤바 전체*/
    background-color: transparent;
}

::-webkit-scrollbar-thumb {/*스크롤 막대*/
    background-color: rgba(209, 209, 209, 0.3);
    border-radius: 10px;
    background-clip: padding-box;
    border: 6px solid transparent;
  }

::-webkit-scrollbar-thumb:hover{
	background-color: rgba(191, 210, 255, 0.8);
	border: 5.5px solid transparent;
	transition: all 1s;
}

body{
	
}

header {
	position: fixed;
  	top: 0;
 	left: 0;
 	right: 0;
 	max-height:95px;
}

.container {
	min-width: 320px;
	max-width: 768px;
	height: auto;
	margin: 20px auto;
	margin-top: 30px;
}

.centered {/*가운데*/
	position: absolute;
	left: 50%; 
	transform: translateX(-50%);
}

a {
	text-decoration: none;
}

.scrollBtn > nav ul {/*횡스크롤 버튼*/
	list-style: none;
	display: flex;
	justify-content: flex-start;
	overflow-x:scroll;
	white-space:nowrap;
	margin : 10px 0 0;
}

.scrollBtn > nav ul li {
	margin : 0 5px;
}

.listBtn {
	cursor: pointer;
	border: none;
	background-color: #70A9FF;
	padding : 2px 15px;
	height: 40px;
	color: white;
	border-radius: 40px;
	text-align: center;
	font-size: 17px;
	font-family: 'Poor Story', cursive;
}

.listBtn:hover {
	background-color: rgb(255, 191, 43);
}

.listBtn:active{
	/*box-shadow:inset 0 0 20px #ca7a01;*/
	background-color: rgb(255, 191, 43);
}

header {
	position: fixed;
	z-index: 1000;
}

hr {
	height: 2px;
	border: 0 none;
	color: var(--grayL);
	background-color: var(--grayL);
	width: 95%;
	text-align: center;
}

h1, h2, th, td{
	font-family: 'Gowun Dodum', sans-serif;
	border-left: none;
	border-right: none;
}

.small-font {
	font-family: 'Nanum Gothic Coding', monospace;
}

.reverse {
	transform: scaleX(-1);
}

.webtoon-result {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: start;
}

.webtoon-result-box {
	border-radius: 10px;
	float: left;
	margin: 10px;
	width: 110px;
	height: 170px;
	cursor: pointer;
	background-color:rgba(174, 209, 255, 0.56);
	backdrop-filter: blur(8px);
	overflow: hidden;
}

.webtoon-result-box:hover .webtoonImg img {
	transform: scale(1.2);
}

.webtoonImg {
	border-radius: 5px;
	overflow: hidden;
	padding: auto;
	height: 100px;
	width: 110px;
}

.webtoonImg img {
	transition: all .35s linear;
	width: 100%;
	min-height: 100px;
	min-width: 110px;
	height: auto;
}

.webtoon-result-title {
	white-space: nowrap; /*줄넘김 없음*/
	text-overflow: ellipsis; /*...처리*/
	overflow : hidden;
	cursor: pointer;
}

.title-result {
	cursor: pointer;
	font-size: 1.3em;
	font-family: 'Nanum Gothic Coding', monospace;
}

.small-font {
	cursor: pointer;
	font-size: 0.8em;
	font-family: 'Nanum Gothic Coding', monospace;
}
