body{
		padding-top: 95px;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none 
}

.webtoonName_wrap {
    width: 300px;
    height: auto;
    position: relative;
    display: inline-block;
}
.webtoonName_wrap textarea {
    width: 100%;
    resize: none;
    min-height: 4.5em;
    line-height:1.6em;
    max-height: 9em;
}
.webtoonName_wrap span {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
#webtoonName_cnt {
  background:rgba(255,0,0,0.5);
  border-radius: 0.5em;
  padding: 0 .5em 0 .5em;
  font-size: 0.75em;
}


.webtoonContent_wrap {
    width: 300px;
    height: auto;
    position: relative;
    display: inline-block;
}
.webtoonContent_wrap textarea {
    width: 100%;
    resize: none;
    min-height: 4.5em;
    line-height:1.6em;
    max-height: 9em;
}
.webtoonContent_wrap span {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
#webtoonContent_cnt {
  background:rgba(255,0,0,0.5);
  border-radius: 0.5em;
  padding: 0 .5em 0 .5em;
  font-size: 0.75em;
}