<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alltoons.root.webtoon.mapper.PagingMapper">

	<resultMap
		type="com.alltoons.root.webtoon.dto.WebtoonViewDTO" id="webtoon">
		<id property="webtoonNum" column="webtoon_num" />
		<result property="webtoonTitle" column="webtoon_title" />
		<result property="webtoonWriter" column="webtoon_writer" />
		<result property="webtoonContent" column="webtoon_content" />
		<result property="webtoonImage" column="webtoon_image" />
		<result property="webtoonGenre" column="webtoon_genre" />
	</resultMap>

	<select id="countWebtoon" resultType="int">
		select count(*) from
		webtoon_info
	</select>

	<select id="selectWebtoons" resultType="com.alltoons.root.webtoon.dto.WebtoonViewDTO">
		select *
		from (
		select rownum rn, A.*
		from (
		select *
		from webtoon_info
		) A
		)
		where rn between #{start} AND #{end}
	</select>

</mapper>