<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alltoons.root.webtoon.review.mapper.ReviewMapper">

	<select id="getReviewCnt" resultType="int">
		select count(*)
		from review_info
		where webtoon_num = #{webtoonNum}
	</select>
	
	<resultMap id="review" type="com.alltoons.root.webtoon.review.dto.ReviewDTO">
		<result property="reviewNum" column="review_num" />
		<result property="userImage" column="user_image" />
		<result property="userEmail" column="user_email" />
		<result property="reviewContent" column="review_content" />
		<result property="reviewTime" column="review_time" />
	</resultMap>
	
	<select id="getMyReview" resultMap="review">
		select review_num, user_image, review_info.user_email, review_content, review_time
		from review_info, user_info
		where webtoon_num = #{wbnum} and review_info.user_email = #{mail}
			  and review_info.user_email = user_info.user_email
	</select>
	
	<select id="getAllReview" resultMap="review">
		select user_image, review_info.user_email, review_content, review_time, review_num
		from review_info, user_info
		where webtoon_num = #{wtnum} and not review_info.user_email in(#{mail})
			  and review_info.user_email = user_info.user_email
		order by review_time desc
	</select>
	
	<insert id="setReview">
		insert into review_info(review_num, webtoon_num, user_email, review_content)
		values(review_num_seq.nextval, #{wtnum}, #{mail}, #{content})
	</insert>
	
	<select id="getMyreportChk" resultMap="review">
		select *
		from report_info
		where review_num = #{reviewNum} and user_email = #{userEmail}
	</select>
</mapper>