<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alltoons.root.webtoon.mapper.WebtoonSearchMapper">
	<resultMap type="com.alltoons.root.admin.dto.WebtoonDTO" id="wtnList">
		<id property="webtoonNum" column="webtoon_num"/>
		<result property="webtoonImage" column="webtoon_image"/>
		<result property="webtoonTitle" column="webtoon_title"/>
		<result property="webtoonWriter" column="webtoon_writer"/>
		<result property="webtoonContent" column="webtoon_content"/>
		<result property="platformName" column="webtoon_platform_name"/>
		<result property="webtoonLink" column="webtoon_link"/>
		<result property="originalPlatform" column="original_platform"/>
		<result property="webtoonOriginalLink" column="origin_webtoon_link"/>
		<result property="webtoonGenre" column="webtoon_genre"/>
	</resultMap>
	
	<select id="webtoonAllList" resultMap="wtnList">
		select * 
		from webtoon_info 
		order by webtoon_num ASC
	</select>
	<select id="writerList" resultMap="wtnList">
		select * 
		from webtoon_info 
		where REPLACE(LOWER(webtoon_writer),' ','') 
		like REPLACE(LOWER('%'||#{search}||'%'),' ','') 
		order by webtoon_num ASC
	</select>
	<select id="titleList" resultMap="wtnList">
		select * 
		from webtoon_info 
		where REPLACE(LOWER(webtoon_title),' ','') 
		like REPLACE(LOWER('%'||#{search}||'%'),' ','') 
		order by webtoon_num ASC
	</select>
	<select id="getImageFileName" resultType="string">
		select webtoon_image 
		from webtoon_info 
		where webtoon_num=#{webtoonNum}
	</select>
	<select id="getplatFirst" resultType="string">
		select webtoon_platform_name 
		from PLATFORM_TABLE where webtoon_num=#{webtoonNum} and ROWNUM=1 
		order by webtoon_platform_name
	</select>
	<select id="getplatformAll" resultType="string">
		select LISTAGG(webtoon_platform_name, '/') 
		WITHIN GROUP (ORDER BY webtoon_platform_name) 
		FROM PLATFORM_TABLE where webtoon_num=#{webtoonNum}
	</select>
	<select id="platformlist" resultType="string">
		select webtoon_platform_name 
		from PLATFORM_TABLE where webtoon_num=#{webtoonNum} 
		order by webtoon_platform_name
	</select>
	<select id="platCnt" resultType="int">
		select count(webtoon_platform_name) 
		from PLATFORM_TABLE where webtoon_num=#{webtoonNum} 
		order by webtoon_platform_name
	</select>
</mapper>