<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.alltoons.root.webtoon.mapper.WebtoonViewMapper">
	<resultMap
		type="com.alltoons.root.webtoon.dto.WebtoonViewDTO" id="webtoon">
		<id property="webtoonNum" column="webtoon_num" />
		<result property="webtoonTitle" column="webtoon_title" />
		<result property="webtoonWriter" column="webtoon_writer" />
		<result property="webtoonContent" column="webtoon_content" />
		<result property="webtoonImage" column="webtoon_image" />
		<result property="webtoonGenre" column="webtoon_genre" />
	</resultMap>
	<resultMap
		type="com.alltoons.root.webtoon.dto.WebtoonPlatformDTO" id="platform">
		<result property="webtoonNum" column="webtoon_num" />
		<result property="platformName" column="WEBTOON_PLATFORM_NAME" />
		<result property="platformNameKor" column="kor" />
		<result property="webtoonLink" column="webtoon_link" />
	</resultMap>
	<resultMap
		type="com.alltoons.root.webtoon.dto.WebtoonOriginDTO" id="origin">
		<result property="webtoonNum" column="webtoon_num" />
		<result property="originalPlatform"
			column="origin_platform_name" />
		<result property="webtoonOriginalLink"
			column="ORIGIN_WEBTOON_LINK" />
		<result property="originalPlatformKor" column="kor" />
	</resultMap>
	<resultMap
		type="com.alltoons.root.favorites.dto.FavoritesDTO" id="favorites">
		<result property="userEmail" column="user_email" />
		<result property="webtoonNum" column="webtoon_num" />
		<result property="favorites" column="FAVORITES" />
		<result property="interest" column="interest" />
	</resultMap>


	<select id="webtoonData" resultMap="webtoon">
		select
		webtoon_info.webtoon_num, webtoon_info.webtoon_title,
		webtoon_info.webtoon_writer,
		webtoon_info.webtoon_content
		,webtoon_info.webtoon_image
		from webtoon_info
		where
		webtoon_info.webtoon_num = #{webtoonNum}
	</select>
	<select id="platformList" resultMap="platform">
		select PLATFORM_TABLE.webtoon_num,PLATFORM_TABLE.WEBTOON_PLATFORM_NAME,kor_platform.kor,PLATFORM_TABLE.webtoon_link
		from PLATFORM_TABLE,KOR_PLATFORM
		where webtoon_num = #{webtoonNum}
		and PLATFORM_TABLE.WEBTOON_PLATFORM_NAME = kor_platform.eng
		order by WEBTOON_PLATFORM_NAME
	</select>
	<select id="originList" resultMap="origin">
		select origin_table.webtoon_num, origin_table.origin_platform_name, KOR_PLATFORM.kor,origin_table.ORIGIN_WEBTOON_LINK
		from origin_table,KOR_PLATFORM
		where webtoon_num = #{webtoonNum}
		and origin_table.origin_platform_name = KOR_PLATFORM.eng
		order by origin_platform_name
	</select>

	<select id="favortiesCount" resultType="int">
		select count(user_email)
		from favorites_info where webtoon_num = #{webtoonNum} and favorites =
		'T'
	</select>
	<select id="intesrestCount" resultType="int">
		select count(user_email)
		from favorites_info where webtoon_num = #{webtoonNum} and interest =
		'T'
	</select>
	<select id="check" resultMap="favorites">
		select * from favorites_info where
		webtoon_num = #{webtoonNum} and user_email = #{userEmail}
	</select>

	<select id="linkCount" resultType="int">
		select count(webtoon_link)
		from PLATFORM_TABLE where webtoon_num = #{webtoonNum}
	</select>


	<select id="firestInterest" resultMap="favorites">
		select * from
		favorites_info where webtoon_num = #{webtoonNum} and user_email =
		#{userEmail}
	</select>


	<insert id="insertInterest">
		insert into
		favorites_info(user_email,webtoon_num,interest)
		values( #{userEmail},
		#{webtoonNum},'T')
	</insert>
	<insert id="insertFavorties">
		insert into
		favorites_info(user_email,webtoon_num,FAVORITES)
		values(#{userEmail},
		#{webtoonNum},'T')
	</insert>



	<update id="interestClick">
		update favorites_info set interest = #{interest}
		where webtoon_num = #{webtoonNum} and user_email = #{userEmail}
	</update>

	<update id="favoritesClick">
		update favorites_info set FAVORITES = #{favorites}
		where webtoon_num = #{webtoonNum} and user_email = #{userEmail}
	</update>


	<resultMap
		type="com.alltoons.root.webtoon.dto.WebtoonCategoryDTO" id="category">
		<result property="webtoonNum" column="webtoon_num" />
		<result property="webtoonTitle" column="webtoon_title" />
		<result property="webtoonWriter" column="webtoon_writer" />
		<result property="webtoonImage" column="webtoon_image" />
		<result property="webtoonGenre" column="webtoon_genre" />
		<result property="webtoonGenreKor" column="genre_kor" />
		<result property="platformName" column="WEBTOON_PLATFORM_NAME" />
		<result property="platformNameKor" column="kor" />
		<result property="platformNum" column="p_num" />
	</resultMap>

	<!-- <select id="platformView" resultMap="category">
		select
		webtoon_info.webtoon_num, webtoon_info.webtoon_title,
		webtoon_info.webtoon_writer, webtoon_info.webtoon_image,
		PLATFORM_TABLE.WEBTOON_PLATFORM_NAME,KOR_PLATFORM.kor
		from PLATFORM_TABLE,webtoon_info,KOR_PLATFORM
		where PLATFORM_TABLE.WEBTOON_PLATFORM_NAME = #{platformName} 
		and	PLATFORM_TABLE.webtoon_num = webtoon_info.webtoon_num
		and KOR_PLATFORM.eng = PLATFORM_TABLE.WEBTOON_PLATFORM_NAME
		order by  webtoon_info.webtoon_title asc
	</select> -->
	<select id="platformView" resultMap="category">
		select * from(
		select
		webtoon_info.webtoon_num, webtoon_info.webtoon_title,
		webtoon_info.webtoon_writer, webtoon_info.webtoon_image,
		PLATFORM_TABLE.WEBTOON_PLATFORM_NAME,KOR_PLATFORM.kor
		from
		PLATFORM_TABLE,webtoon_info,KOR_PLATFORM
		where
		PLATFORM_TABLE.WEBTOON_PLATFORM_NAME = #{platformName} 
		and
		PLATFORM_TABLE.webtoon_num = webtoon_info.webtoon_num
		and
		KOR_PLATFORM.eng = PLATFORM_TABLE.WEBTOON_PLATFORM_NAME
		order by
		webtoon_info.webtoon_title asc
		)<![CDATA[WHERE ROWNUM <= 15]]>
	</select>
	
	<!-- 제목 정렬 -->
	<select id="sortNameAjax" resultMap="category">
		select
		webtoon_info.webtoon_num, webtoon_info.webtoon_title,
		webtoon_info.webtoon_writer, webtoon_info.webtoon_image,
		PLATFORM_TABLE.WEBTOON_PLATFORM_NAME,KOR_PLATFORM.kor
		from PLATFORM_TABLE,webtoon_info,KOR_PLATFORM
		where PLATFORM_TABLE.WEBTOON_PLATFORM_NAME = #{platformName} 
		and PLATFORM_TABLE.webtoon_num = webtoon_info.webtoon_num
		and KOR_PLATFORM.eng = PLATFORM_TABLE.WEBTOON_PLATFORM_NAME
		<if test="sort.equals('nameAsc') ">
		 	order by webtoon_info.webtoon_title asc
		</if>
		<if test="sort.equals('nameDesc')">
			order by webtoon_info.webtoon_title desc
		</if>
		<if test="sort.equals('viewCount')">
			order by webtoon_info.webtoon_hit desc , webtoon_info.webtoon_title asc
		</if>
		<![CDATA[WHERE ROWNUM <= 15]]>
	</select>
	
	<!-- 플랫폼별 인기순 정렬 -->
	<select id="platformPopularPage" resultMap="category2">
		select DISTINCT
		webtoon_info.webtoon_num, webtoon_info.webtoon_title, webtoon_info.webtoon_writer,
		webtoon_info.webtoon_image,(
			select count(favorites) 
			from FAVORITES_INFO 
			where FAVORITES_INFO.webtoon_num =PLATFORM_TABLE.WEBTOON_NUM 
			and FAVORITES_INFO.favorites = 'T')as count,
			KOR_PLATFORM.kor
		from webtoon_info, FAVORITES_INFO,PLATFORM_TABLE,KOR_PLATFORM
		where webtoon_info.webtoon_num =PLATFORM_TABLE.WEBTOON_NUM
		and  PLATFORM_TABLE.WEBTOON_PLATFORM_NAME = #{platformName}
		and KOR_PLATFORM.eng = WEBTOON_PLATFORM_NAME
		order by count desc, webtoon_info.webtoon_title asc
		<![CDATA[WHERE ROWNUM <= 15]]>
	</select>


	<select id="genreView" resultMap="category">
		select
		webtoon_info.webtoon_num,
		webtoon_info.webtoon_title,webtoon_info.webtoon_writer,webtoon_info.webtoon_image,GENRE_TABLE.webtoon_genre,
		kor_genre.genre_kor
		from GENRE_TABLE,webtoon_info,kor_genre
		where
		GENRE_TABLE.webtoon_num=webtoon_info.webtoon_num
		and
		GENRE_TABLE.webtoon_genre=#{webtoonGenre}
		and kor_genre.genre_eng = #{webtoonGenre}
		order by  webtoon_info.webtoon_title asc
	</select>
	
	<select id="genreSortAjax" resultMap="category">
		select
		webtoon_info.webtoon_num,
		webtoon_info.webtoon_title,webtoon_info.webtoon_writer,webtoon_info.webtoon_image,GENRE_TABLE.webtoon_genre,
		kor_genre.genre_kor
		from GENRE_TABLE,webtoon_info,kor_genre
		where
		GENRE_TABLE.webtoon_num=webtoon_info.webtoon_num
		and
		GENRE_TABLE.webtoon_genre=#{webtoonGenre}
		and kor_genre.genre_eng = #{webtoonGenre}
		<if test="sort.equals('nameAsc') ">
		 	order by webtoon_info.webtoon_title asc
		</if>
		<if test="sort.equals('nameDesc')">
			order by webtoon_info.webtoon_title desc
		</if>
		<if test="sort.equals('viewCount')">
			order by webtoon_info.webtoon_hit desc , webtoon_info.webtoon_title asc
		</if>
	</select>
	
	<!-- 장르별 인기순 정렬 -->
	<select id="genrePopularPage" resultMap="category2">
		select DISTINCT
		webtoon_info.webtoon_num, webtoon_info.webtoon_title, webtoon_info.webtoon_writer,
		webtoon_info.webtoon_image,(
			select count(favorites) 
			from FAVORITES_INFO 
			where FAVORITES_INFO.webtoon_num =GENRE_TABLE.WEBTOON_NUM 
			and FAVORITES_INFO.favorites = 'T')as count,
			kor_genre.genre_kor
		from webtoon_info, FAVORITES_INFO,GENRE_TABLE,kor_genre
		where webtoon_info.webtoon_num =GENRE_TABLE.WEBTOON_NUM
		and  GENRE_TABLE.webtoon_genre = #{webtoonGenre}
		and kor_genre.genre_eng = #{webtoonGenre}
		order by count desc, webtoon_info.webtoon_title asc
	</select>	

	<select id="favortiesPage" resultMap="category">
		select DISTINCT
		webtoon_info.webtoon_num, webtoon_info.webtoon_title,
		webtoon_info.webtoon_writer,
		webtoon_info.webtoon_image,PLATFORM_TABLE.WEBTOON_PLATFORM_NAME
		from user_info,webtoon_info, FAVORITES_INFO,PLATFORM_TABLE
		where
		user_info.user_email = #{userEmail}
		and FAVORITES_INFO.favorites = 'T'
		and user_info.user_email=FAVORITES_INFO.user_email
		and FAVORITES_INFO.webtoon_num=webtoon_info.webtoon_num
		and webtoon_info.webtoon_num =PLATFORM_TABLE.WEBTOON_NUM
		and FAVORITES_INFO.webtoon_num = PLATFORM_TABLE.WEBTOON_NUM
		order by webtoon_info.webtoon_title
	</select>

	<select id="onlyPlatform" resultType="string">
		select KOR_PLATFORM.kor
		from PLATFORM_TABLE,KOR_PLATFORM
		where
		PLATFORM_TABLE.WEBTOON_PLATFORM_NAME = KOR_PLATFORM.eng
		and
		PLATFORM_TABLE.WEBTOON_NUM =#{webtoonNum}
	</select>

	<select id="interestPage" resultMap="category">
		select DISTINCT
		webtoon_info.webtoon_num, webtoon_info.webtoon_title,
		webtoon_info.webtoon_writer,
		webtoon_info.webtoon_image,PLATFORM_TABLE.WEBTOON_PLATFORM_NAME
		from user_info,webtoon_info, FAVORITES_INFO,PLATFORM_TABLE
		where
		user_info.user_email = #{userEmail}
		and FAVORITES_INFO.INTEREST = 'T'
		and user_info.user_email=FAVORITES_INFO.user_email
		and FAVORITES_INFO.webtoon_num=webtoon_info.webtoon_num
		and webtoon_info.webtoon_num =PLATFORM_TABLE.WEBTOON_NUM
		and FAVORITES_INFO.webtoon_num = PLATFORM_TABLE.WEBTOON_NUM
		order by webtoon_info.webtoon_title
	</select>


	<resultMap
		type="com.alltoons.root.webtoon.dto.WebtoonCategoryDTO" id="category2">
		<result property="webtoonNum" column="webtoon_num" />
		<result property="webtoonTitle" column="webtoon_title" />
		<result property="webtoonWriter" column="webtoon_writer" />
		<result property="webtoonImage" column="webtoon_image" />
		<result property="webtoonGenre" column="webtoon_genre" />
				<result property="webtoonGenreKor" column="genre_kor" />
		<result property="platformName" column="WEBTOON_PLATFORM_NAME" />
		<result property="platformNameKor" column="kor" />
		<result property="platformNum" column="count" />
	</resultMap>
	<select id="popularPage" resultMap="category2">
		select DISTINCT
		webtoon_info.webtoon_num, webtoon_info.webtoon_title, webtoon_info.webtoon_writer,
		webtoon_info.webtoon_image,(
			select count(favorites) 
			from FAVORITES_INFO 
			where FAVORITES_INFO.webtoon_num =PLATFORM_TABLE.WEBTOON_NUM 
			and FAVORITES_INFO.favorites = 'T')as count
		from webtoon_info, FAVORITES_INFO,PLATFORM_TABLE
		where webtoon_info.webtoon_num =PLATFORM_TABLE.WEBTOON_NUM
		order by count desc, webtoon_info.webtoon_title asc
	</select>

	<!-- 조회수 업 -->
	<update id="upHit">
		update webtoon_info set webtoon_hit = webtoon_hit +1 where webtoon_num = #{webtoonNum}
	</update>
</mapper>